@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f8f7fa;
		--foreground: #3d3c4f;
		--card: #ffffff;
		--card-foreground: #3d3c4f;
		--popover: #ffffff;
		--popover-foreground: #3d3c4f;
		--primary: #8a79ab;
		--primary-foreground: #f8f7fa;
		--secondary: #dfd9ec;
		--secondary-foreground: #3d3c4f;
		--muted: #dcd9e3;
		--muted-foreground: #6b6880;
		--accent: #e6a5b8;
		--accent-foreground: #4b2e36;
		--destructive: #d95c5c;
		--destructive-foreground: #f8f7fa;
		--border: #cec9d9;
		--input: #eae7f0;
		--ring: #8a79ab;
		--chart-1: #8a79ab;
		--chart-2: #e6a5b8;
		--chart-3: #77b8a1;
		--chart-4: #f0c88d;
		--chart-5: #a0bbe3;
		--radius: 0.5rem;
	}

	.dark {
		--background: #1a1823;
		--foreground: #e0ddef;
		--card: #232030;
		--card-foreground: #e0ddef;
		--popover: #232030;
		--popover-foreground: #e0ddef;
		--primary: #a995c9;
		--primary-foreground: #1a1823;
		--secondary: #5a5370;
		--secondary-foreground: #e0ddef;
		--muted: #242031;
		--muted-foreground: #a09aad;
		--accent: #372e3f;
		--accent-foreground: #f2b8c6;
		--destructive: #e57373;
		--destructive-foreground: #1a1823;
		--border: #302c40;
		--input: #2a273a;
		--ring: #a995c9;
		--chart-1: #a995c9;
		--chart-2: #f2b8c6;
		--chart-3: #77b8a1;
		--chart-4: #f0c88d;
		--chart-5: #a0bbe3;
	}
}
