# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
*/venv/
*/.venv/

# Distribution / packaging
.Python/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/
.coverage
.coverage.*
.cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# FastAPI specific
.env
.flaskenv
instance/
.webassets-cache

# Database
*.sqlite3
*.db
logs/
